[project]
	description = My Spacemacs config
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lightjames (lightjameslyy)
[access "refs/for/refs/*"]
	read = group user/lightjames (lightjameslyy)
	push = group user/lightjames (lightjameslyy)
	label-Code-Review = -2..+2 group user/lightjames (lightjameslyy)
	label-Verified = -1..+1 group user/lightjames (lightjameslyy)
	rebase = group user/lightjames (lightjameslyy)
	removeReviewer = group user/lightjames (lightjameslyy)
	submit = group user/lightjames (lightjameslyy)
[access "refs/heads/*"]
	read = group user/lightjames (lightjameslyy)
	create = group user/lightjames (lightjameslyy)
	push = +force group user/lightjames (lightjameslyy)
	pushMerge = group user/lightjames (lightjameslyy)
[access "refs/tags/*"]
	push = group user/lightjames (lightjameslyy)
	push = +force group user/lightjames (lightjameslyy)
